
body {
    font-family: "Roboto", serif;
    max-width: 1000px;
    margin:0 auto;
}

h1 {
    margin: 50px;
    font-size: 3em;
    text-align: center;
}

.flex-container {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
}

.flex-child {
    flex: 1;
    text-align: center;
}

.flex-child:first-child {
    margin-right: 20px;
}

#canvas_div {
    margin: 0 auto;
    border: 5px solid black;
    display: block;
    width: 284px;
    height: 284px;
    touch-action: none;
}

#small_canvas_div {
    border: 1px solid black;
    display: block;
    width: 28px;
    height: 28px;
    margin: 2% auto 0;
}

#small_canvas {
    width: 28px;
    height: 28px;
}

#prediction_div {
    font-size: 2em;
    text-align: center;
}

#number{
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    height: 1em;
}

.loading{
    width: 0.5em;
}

#evaluation {
    font-size: 0.5em;
}

table {
    margin: 5% auto;
    padding: 50%;
    table-layout: fixed;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    min-width: 5em;
    font-size: 1.5em;
}

.digit_col {
    width: 30%;
    min-width: 4em;
}

#clear_button {
    padding: 0.35em 1.2em;
    border: 0.1em solid #555555;
    margin: 0.5em 0.3em;
    border-radius: 0.5em;
    text-align: center;
    font-size: 2em;
}

#clear_button:hover {
    background-color: #AAAAAA;
}

#clear_button:active {
    vertical-align: top;
    margin: 0.6em 0.4em;
    padding: 0.25em 1.1em;
}

#footer {
    position: relative;
    /*bottom:0;*/
    width: 100%;
    max-width: 1000px;
    height: 60px;
    text-align: center;
}

.link {
    color: black;
}
